html, body {
    height: 100%;
}
.container{ 
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100%;
}
.section-title{
   color: #fff;
   font-size: 2.2rem;
}
.div-sub-section{
    border-radius: 3px;
}
.sub-section-title{
   color: #fff;
   font-size: 2rem;
   font-weight:10%;
   text-align: center;
}
.main-image{
   max-width: 100%;
   max-height: 100%;
   display: block; /* remove extra space below image */
}

.main{
    padding: 0%;
    width: 100%;
    height: 100%;
 
 }
 .container-main {
    margin-top:50px;
 }
.hero{

   height:100%;
   width: 100%;
   position:relative;
   padding-left:0 !important ;
   padding-bottom: 65px ;
   margin-bottom:5%;
   background-color: #46cb9b;
 
}
.sub-hero{
    height:100%;
    width: 100%;
    padding: 80px 0px !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:relative;
}
.part-one{
    height:100%;
   width: 100%;
   position:relative;
   overflow: hidden;

}
.list{
   list-style: none;
   padding-inline-start: 10px !important;
}
.badge{
    color: #fff !important;
    border-radius: 50%;
    margin-right:5px ;
}

.card-item{
   width: 130px;
   min-height: 140px;
   margin:0 10px 10px 0 ;
   border-radius: 3px;
   box-shadow: 0 1px 4px 0 rgba(187, 186, 186, 0.2), 0 1px 4px 0 rgba(185, 185, 185, 0.19);
}
.card-image{
   width: 50%;
   height: 50%;
   margin:5px 0 ;
}
.section-three ,.section-two {
   padding-top:10%;
}
.sub-section{
   position: relative;
   top:90px
   
}

/* vector  */

.ellipse-larg{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30%;
    left: -45%;

}
.ellipse-medium{
    z-index: -1;
    position: absolute;
    top: 50%;
    left:63%;
    width: 50%;
    height: 50%;
}
.ellipse-small{
    z-index: -1;
    position: absolute;
    top: 0%;
    left:70%;
    width: 40%;
    height: 40%;
}
.video-run{
    width: 20%;
    height: 20%; 
    top: 40%;
    left: 40%; 
    position:absolute;
    z-index: 1;

}
/* vector */
.nab-btn{

    margin: 5px;   
}



@media (max-width: 1149px) { 
   .hero{
       margin-bottom:30%;
   }
}
@media (max-width: 990px) { 

   .nab-btn{
       display: block !important;
       width: 100%;
       margin-bottom: 5px;   
   }
}
@media (max-width: 768px) { 
   .hero{
       margin-bottom:40%;
   }
  
}
@media (max-width: 590px) { 
   .copy-right{
       border-top:1px solid #9C9CA8;
   }
   .footer-parent{
       border:none;
   }
   .footer-element-1{
       justify-content: center;
   }
   .footer-element{
       justify-content: center !important;
   }
   .hero{
       margin-bottom:70%;
   }
   .sub-section{
       top:0px !important;
   }
   .ellipse-larg,.ellipse-medium,.ellipse-small{
       display: none;
   }


   }

@media (max-width: 467px) { 
   .hero{
       margin-bottom:90%;
   }
   .card-item{
       width: 100px;
   }

   }

@media (max-width: 320px) { 
       .hero{
           margin-bottom:100%;
       }
       .card-item{
           width: 80px;
       }
   
       }




