/* navebar */
.nav-header{background-color: #ffffff;}
.navbar-collapse {
 
    padding-right: 3%;
}
.nav-link{ 
   margin-right: 1em !important;
}
.dropdown-toggle::after{
   display: none !important;
  
  }
.nav-link:hover{
    background: #F9F9F9; 
   
    }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      color: #46cb9b;
  }  
.navbar-light .navbar-nav .nav-link {
   color: rgba(0,0,0,.55);
}  

.navbar-collapse{ 
   justify-content: space-between;
   margin-left:3% ;
}
.logo{
    width: 100px;
    height: 50px;  
  
 
   }
.navbar-toggler{  
   background:#fff !important;
}
.navbar-brand{
   justify-content: flex-start;
}
.img-fluid{
   position: relative;
   left: -15px;
   top:-10px;
}
/* navebar */